@import '~bootstrap/scss/bootstrap';
@import 'colors'; 
@import 'typography';



* {
    margin: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $pale-mellow-red;
    justify-items: space-between;
}

header {
    position: static;
    text-align: center;
    background-color: $mellow-red;
    padding: 30px 0px;
    h1 {
        color: $cool-orange;
        font-family: $gameFont;
        letter-spacing: 0.5em;
    }

}
 
main {
    display: flex;
    flex-direction: column;
    //align-content: space-between;
    button {
        width: 50%;
        align-self: center;
        margin: 20px;
        color: $mellow-red;
    }
}

// There is a click event attached this; it executes drawBoard 
#game-board {
    display: none;
}

.gameBoard{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
   
     .top {
        border-bottom: solid #000;
    }   
     .right{
        border-left: solid #000; 
    }
     .bottom {
        border-top : solid #000;
    }
     .left {
        border-right: solid #000;
    }
    .square {
        display:flex;
        flex-direction: row;
        padding: 70px;
        height: 150px;
        width:150px;
        font-size: 70px;
        align-items: center; 
        text-align: center;    
        border-radius: 10px;
        
    }    
}


footer {
    display: flex;
    flex-shrink: 0;
    margin: 20px 0px;
    padding: 40px 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
 
}
.name {
    color: $cool-orange;
}

.userForms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    legend {
        color: $mellow-red * .8; // a tad darker  
    }
    
}

#message, #api-response {
    display: none;
    font-family: $gameFont;
    font-size: 30px;
    color: $mellow-red * .8; // a tad darker
    align-self: center;

}

// this class get added to the tic tac toe squares 
// when the game ends 
.gameOver {
    pointer-events: none;
}

#log-out {
    display: none;
}